
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body{
    color: #30333C;
    padding: 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    background-color: pink;
    background: linear-gradient(to top right,  #FAFCFF,#E8F1FF 100%);
    display: grid;
    place-items: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  p{
    font-size: 18px; 
    margin: 10px 0px;
    /* text-align: center; */
    /* color: #30333C; */
    /* font-family: Montserrat, SemiBold; */
}
h1{

}

h2{
    padding: 0px 60px;
}

h3 {
    margin: 10px 0px;
}
img {
    width: 100%;
    border-style: none;
}
button{
    border: none;
}


.container{
    display: grid;
    background: linear-gradient(to top right,  #FAFCFF,#E8F1FF 100%);
    
    width: 100%;
  
}


header{
    background-color: #FFFFFF;
    color:#30333C;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    text-align: center;
    position:fixed;
    top:0px;
    width: 100%;
    width: 100vw;
    z-index: 2;
   

}    

.header ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    padding: 15px 60px;
    margin: 15px;
   
    }




main {
   padding: 60px 50px 20px 50px;
   width: 100vw;
  
     
}

 main h2 {
    font-size: 50px;
}

#title{
    position: relative;
    z-index: 1;
}



.flats img {
    border-radius: 0px 70px 0px 0px;
 height: 250px;
   

}

.flats-buttons{
    color: #FFFFFF;
    background-color: #A7C0E8;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    font-weight: 1000;
}

.back{
    position: absolute;
    top: 45%;
}

.next{
    position: absolute;
    top: 45%;
    right: 4%;
    z-index: 1;
    
}

.flats{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    justify-content: space-between;
    grid-gap: 20px;
    padding: 0px 60px;
  background: transparent;
  transform: translate(+8%, 0%);
  max-height: 75%;
}

.flat {
display: grid;
place-items:center;

/* background-color: #FFFFFF; */
box-shadow: 0px 4px 0px 0px #44477C, 0px 6px 20px 0px#44477C;  
border-radius:  0px 90px 10px 10px;
}

.flat .arrow{
    background-color: transparent;
    justify-self: end;
    padding: 5px 20px;
    margin: 0px 20px 5px 20px;

}

.shadow {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: red; */
    box-shadow:  inset 10px 10px 20px 10px red;
    position: relative;
    z-index: -1;
}

/* .shadow {
    height: 100%;
    width: 100%;
    background-image: url("images/kiril.png");
    
} */


.flat p, .flat h3 {
   padding: 10px;
}

/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);






/* ///////NAUJIENOS ************************** */

.news{
    display:grid; 
    justify-content: center;
    background-color: #FFFFFF;
    padding: 40px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-API{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   /* grid-template-columns: repeat(auto-fit, minmax(350px, 400px)); */
  /* // place-items: center; */
    grid-gap: 15px;
}
.news button {
padding: 10px;
margin: 10px;
font-size: 20px;
/* font-family: Quicksand, Bold */
}
.news div{
   justify-self: center;
}



/* .news img{
    height: 380px;
} */

.news button {
    background-color: #30333C;
    border-radius: 40px;
    color: #FFFFFF;
}















/* //////////////ADDRESS */

#additional-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Quicksand, Bold;
    background-color: #FFFFFF;
    margin: 40px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  


 a[href] { 
    text-decoration:none;

}

.contacts  a[href], header a[href] { 
    color:  #70737C;
}

.contacts{
    display: grid;
  
    grid-gap: 20px;
    background-color: #E6F1FF;
    clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
    padding: 70px 50px;
    
}

.contacts h3, h1 {
    color: #6F88B1;
    
}

.contacts img {
height: 100px;
width: 100px;
border-radius: 50px;
align-self: center;
/* background-size: cover; */
}

address{
    display: grid;
    /* grid-template-columns: 1fr 2.5fr; */
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   
    font-style: normal;
    align-items: center;

}

address img{
    /* display: grid;
    place-items: center; */
    object-fit: cover;
    justify-self: center;
}


/* ////////////////// FORMA ***** */

form{
    padding: 20px;
}
form h1 {
    font-size: 50px;
}
form button{
    background-color: #D9DBE2;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    font-size: 20px;
    font-family: Quicksand, Bold;
}

.arrow{
    font-size: 20px;
    font-weight: 1000;
    padding: 10px;
    
}

.form-fields{
display: grid;
grid-gap: 20px;
font-size: 20px;
}

input[type=text], input[type=number], input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6F88B1;
    padding: 8px;
 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}





/* ///////////////////////FOOOOTER */

footer{
    background-color: #30333C;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 15px;
    padding: 30px 60px;
}


.fa{
    color: #FFFFFF;  
    align-self: end;
    justify-self: end;
    padding:  10px 15px;
}




/* ////////////////////////// ******************************DROPW DOWN CONTENT */


  

  
   table {
       /* display: grid;
       place-items: center; */
    border-collapse: collapse;
    width: 100%;
   

    
}

table tbody{
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    background-color: #F7FAFF;
    text-align: center;
    
}

table tbody th {
   
    font-weight: 600;

}
table tbody, table tr, table td, table th {
    padding: 20px;
    
    color: #30333C;
    border-bottom: 1px solid #E9ECF7;
  
}



  .table-container {
      display: grid;
      margin: 20px 50px;
    padding: 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
   
  
}




 .table-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
   justify-content: space-around;
    border-radius: 20px 0px 0px 20px;
    /* grid-template-columns: repeat(4, minmax(50px, 250px)); */
  
    
} 

.table-buttons button{
   
    background-color: #A7C0E8; 
    color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding-top: 0px;
    font-size: 20px;
    font-family: Quicksand, Bold; 
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-color: #A7C0E8; 
    color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: Quicksand, Bold;
    border: none;

  
 }

 

 select:focus, option:focus {outline:0;}


 /* select{
    text-align-last:right;
    padding-right: 50px;
    direction: rtl;
} */

  option{
     background-color:  #FFFFFF;
     color: #707070;
     /* border-radius: 0px 10px 10px 0px;
     border: 3px solid black; */
    
 }

 












  /* *******************************BUTTONS************************************************ */

  /* .top {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-right: 0.75em;
  }
  
  .top:after {
    content: '';
      display: inline-block;
    margin-top: 1.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  } */

 

/* .circle {
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ccc;
  position: relative;
  border: none;
} */
/* .circle:before {
    content: '';
    display: inline-block;
  margin-top: 1.2em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
} */













.elipse{
 height: 40%;
 width: 80%;
 
 position: absolute;
 right:-10%;
 top: 15%; 
  z-index: 0; 
 /* background: linear-gradient(to top right, #FAFCFF,#E8F1FF 100%);  */
 background-color:  white;
 clip-path: ellipse(65% 49% at 80% 96%);

 clip-path: ellipse(85% 51% at 84% 50%);
 overflow: hidden;
}


@media all and (max-width: 1000px) {
    
    .header {
        grid-template-columns: 1fr;
    }
    main{
        margin: 50px 20px 50px;
    }
     .contacts{
       padding: 10px;
    }
   
}

@media all and (max-width: 800px) {
    #additional-info{
        grid-template-columns: 1fr;
    }
.table-container{
    padding: 10px;
    margin: 10px;
}
    .table-buttons{
        grid-template-columns: repeat(2, 1fr);
}
.table tbody, table tr, table td, table th {
    padding: 10px;
    font-size: 10px;
}


@media all and (max-width: 600px) {
    
    .news-API{
        grid-template-columns: 1fr 1fr;
    }
   
    .table tbody, table tr, table td, table th {
        padding: 8px 0px;
        font-size: 10px;
        margin: 5px 0px;
    }
    .header ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 10px;
        grid-gap: 20px;
    }
   
    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }

 form h1{
        font-size: 30px;
    }
   
}

@media all and (max-width: 450px) {
    
    .news-API{
        grid-template-columns: 1fr;
    }

    
   
}