  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body{
    color: #30333C;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background: linear-gradient(to top right,  #FAFCFF,#E8F1FF 100%);
    display: grid;
    place-items: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

p{
    font-size: 18px; 
    margin: 10px 0px;
}

h2{
    padding: 0px 60px;
}

h3 {
    margin: 10px 0px;
}
img {
    width: 100%;
    border-style: none;
}
button{
    border: none;
}

.container{
    display: grid;
    background: linear-gradient(to top right,  #FAFCFF,#E8F1FF 100%);
    width: 100%;
}

header{
    background-color: #FFFFFF;
    color:#30333C;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position:fixed;
    top:0px;
    width: 100%;
    z-index: 2;
}    

.header ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    padding: 15px 60px;
    margin: 15px;
}

main {
   padding: 60px 50px 20px 50px;
   width: 100vw;    
}

main h2 {
    font-size: 50px;
}

#title{
    position: relative;
    z-index: 1;
}


.flats img {
    border-radius: 0px 70px 0px 0px;
    height: 250px;
}

.flats-buttons{
    color: #FFFFFF;
    background-color: #A7C0E8;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    font-weight: 1000;
}

.back{
    position: absolute;
    top: 45%;
}

.next{
    position: absolute;
    top: 45%;
    right: 4%;
    z-index: 1;
    
}

.flats{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    justify-content: space-between;
    grid-gap: 20px;
    padding: 0px 60px;
    background: transparent;
    transform: translate(+8%, 0%);
    max-height: 75%;
}

.flat {
   display: grid;
   place-items:center;
   box-shadow: 0px 4px 0px 0px #44477C, 0px 6px 20px 0px#44477C;  
   border-radius:  0px 90px 10px 10px;
}

.flat .arrow{
    background-color: transparent;
    justify-self: end;
    padding: 5px 20px;
    margin: 0px 20px 5px 20px;
}

.flat p, .flat h3 {
    padding: 10px;
 }


table {
    border-collapse: collapse;
    width: 100%;
}

table tbody{
    background-color: #F7FAFF;
    text-align: center;   
}

table tbody th {
    font-weight: 600;
}

table tbody, table tr, table td, table th {
    padding: 20px;
    color: #30333C;
    border-bottom: 1px solid #E9ECF7;
}

.table-container {
    display: grid;
    margin: 20px 50px;
    padding: 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px; 
}

.table-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    border-radius: 20px 0px 0px 20px;
} 

.table-buttons button{
    background-color: #A7C0E8; 
    color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding-top: 0px;
    font-size: 20px;
    font-family: Quicksand, Bold; 
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;      
    background-color: #A7C0E8; 
    color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: Quicksand, Bold;
    border: none;
 }


select:focus, option:focus {
     outline:0;
    }

option{
     background-color:  #FFFFFF;
     color: #707070;
 }

.news{
    display:grid; 
    justify-content: center;
    background-color: #FFFFFF;
    padding: 40px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-API{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.news button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.news div{
   justify-self: center;
}

.news button {
    background-color: #30333C;
    border-radius: 40px;
    color: #FFFFFF;
}

#additional-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Quicksand, Bold;
    background-color: #FFFFFF;
    margin: 40px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
 a[href] { 
    text-decoration:none;
}

.contacts  a[href], header a[href] { 
    color:  #70737C;
}

.contacts{
    display: grid;
    grid-gap: 20px;
    background-color: #E6F1FF;
    clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
    padding: 70px 50px;  
}

.contacts h3, h1 {
    color: #6F88B1; 
}

.contacts img {
   height: 100px;
   width: 100px;
   border-radius: 50px;
   align-self: center;
}

address{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    font-style: normal;
    align-items: center;
}

address img{
    object-fit: cover;
    justify-self: center;
}

form{
    padding: 20px;
}
form h1 {
    font-size: 50px;
}
form button{
    background-color: #D9DBE2;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    font-size: 20px;
    font-family: Quicksand, Bold;
}

.arrow{
    font-size: 20px;
    font-weight: 1000;
    padding: 10px;
}

.form-fields{
   display: grid;
   grid-gap: 20px;
   font-size: 20px;
}

input[type=text], input[type=number], input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #6F88B1;
    padding: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


footer{
    background-color: #30333C;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 15px;
    padding: 30px 60px;
}


.fa{
    color: #FFFFFF;  
    align-self: end;
    justify-self: end;
    padding:  10px 15px;
}

.elipse{
 height: 40%;
 width: 80%;
 position: absolute;
 right:-10%;
 top: 15%; 
  z-index: 0; 
 background-color:  white;
 clip-path: ellipse(85% 51% at 84% 50%);
}


@media all and (max-width: 1000px) {
    .header {
        grid-template-columns: 1fr;
    }
    main{
        margin: 50px 20px 50px;
    }
     .contacts{
       padding: 10px;
    }
}

@media all and (max-width: 800px) {
    #additional-info{
        grid-template-columns: 1fr;
    }
   .table-container{
        padding: 10px;
        margin: 10px;
}
    .table-buttons{
        grid-template-columns: repeat(2, 1fr);
}
    .table tbody, table tr, table td, table th {
        padding: 10px;
        font-size: 10px;
}


@media all and (max-width: 600px) {
    
    .news-API{
        grid-template-columns: 1fr 1fr;
    }
   
    .table tbody, table tr, table td, table th {
        padding: 8px 0px;
        font-size: 10px;
        margin: 5px 0px;
    }
    .header ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 10px;
        grid-gap: 20px;
    }
   
    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    form h1{
        font-size: 30px;
    }
}

@media all and (max-width: 450px) {
    .news-API{
        grid-template-columns: 1fr;
    } 
}